/* ===================================
CARD 
=================================== */
a {
  text-decoration: none;
}

.service-grid {
  position: relative;
  overflow: hidden;
}

.service-grid_icon {
  height: 80px;
  width: 80px;
  line-height: 80px;
  background-color: #441752;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 2;
  margin: 0 auto 0 auto;
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transform: translateY(40px);
}

.service-grid_icon:after,
.service-grid_icon:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #441752;
  z-index: -2;
  border-radius: 50%;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.service-grid_icon::before {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: ripple;
  animation-name: ripple;
}

.service-grid_icon::after {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: ripple;
  animation-name: ripple;
}

.service-grid_icon img {
  position: relative;
  z-index: 2;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.service-grid_content {
  box-shadow: 0px 10px 15px rgba(8, 14, 28, 0.06);
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  padding: 70px 15px 40px 15px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  overflow: hidden;
}

.box-title {
  font-size: 24px;
  line-height: 1.417;
  font-weight: 700;
  margin-top: -0.32em;
}

.service-grid .bg-shape {
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  pointer-events: none;
}

.service-grid .bg-shape img {
  width: 100%;
}

.service-grid:hover .service-grid_content {
  background-color: #441752;
}

.service-grid:hover .bg-shape {
  bottom: 0;
  opacity: 1;
}

.service-grid:hover .service-grid_text {
  color: #ffffff;
}
.service-grid:hover .box-title a {
  color: #ffffff;
}

.service-grid:hover .service-grid_icon:before, .service-grid:hover .service-grid_icon:after {
  background-color: #ffffff;
}

@keyframes ripple {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
  30% {
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }
}

.th-btn {
  position: relative;
  z-index: 2;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  border: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #441752;
  color: #ffffff;
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  padding: 20.5px 20px;
  min-width: 144px;
  border-radius: 4px;
}

.th-btn:before,
.th-btn:after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #8174A0;
  z-index: -1;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  border-radius: 99px;
  -webkit-transform: scaleY(1.1);
  -ms-transform: scaleY(1.1);
  transform: scaleY(1.1);
}

.th-btn:before {
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}

.th-btn:after {
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
}

.th-btn:hover::before,
.th-btn:hover:after,
.th-btn.active::before,
.th-btn.active:after {
  border-radius: 0;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

